systemLog:
   destination: file
   path: "/var/log/mongodb/mongod.log"
   logAppend: true
processManagement:
  fork: false
net:
  port: {{ mongod_port }}
  bindIpAll: true
operationProfiling:
  mode: off
storage:
  dbPath: {{ mongodb_data_volume }}
  mmapv1.smallFiles: true
replication:
  replSetName: "rs0"
security:
   authorization: enabled
   keyFile: {{ mongodb_conf_volume }}/mongodb-keyfile
